*{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-primary {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(37, 117, 252, 0.5));
    background: linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(37, 117, 252, 0.5))
  }

.gradient{
    background: linear-gradient(to left, #0000cc 0%, #6666ff 100%);
}

ul {
    list-style: none;
}

li {
    text-align: left;
    padding-left: 10px;
    background-color: grey;
}

.list-group button{
    display: block;
    width: 300px;
    margin: 5px;
}

h5{
    font-weight: bolder;
    font-size: 24px;
}

.weatherTitle {
    font-size: 24px;
}

img {
    width: 150px;
    height: 150px;
}

.forecastColor{
    background-color: darkblue;
    color: white;
    float: left;
    padding: 15px;
    margin: 10px;
    border: 1px solid lightslategray;

}

